*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}




html {
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header {
    position: fixed;
    top: 0;
    z-index: 1400;
    height: 4.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(.5rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.nav-link:hover {
    opacity: .7;
}


.nav-link-logo {
    width: 8.6rem;
    height: 4.4rem;
    background: url(images/icons/logo.png) center no-repeat;
    background-size: contain;

}

.nav-link-search {
    width: 1.4rem;
    height: 4.4rem;
    background: url(images/icons/search.svg) center no-repeat;

}

.nav-link-bag {
    width: 4.4rem;
    height: 4.4rem;
    background: url(images/icons/bag_icon.png) center no-repeat;
    background-size: contain;
}




.iphone-11-pro {

    background: url(images/hero/iphone-11-pro/iphone_11_pro_large.jpg);
    margin-top: 4.4rem;

}






.title {
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}


.title-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: .1rem;
    color: wheat;

}


.title-sub-heading {
    font-size: 2.65rem;
    margin: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}



.title-price {
    font-size: 1.7rem;
    color: white;
    margin-top: 40.68rem;
    letter-spacing: .5rem;
    font-family: font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;

}



.cta {
    text-align: center;
    margin-top: 1.8rem;
}


.cta-link {
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}


.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #66bbff;
}

/* laptop */


.laptop {
    background: url(images/hero/laptop/laptop_large.jpg);
}


.title-dark {
    color: #000;
}


.cta-link-darker {
    color: #0070c9;
}

cta-link-darker:hover {
    border-bottom-color: #0070c9;
}

.ipad {
    background: url(images/hero/ipad/ipad_larg.jpg);
}

















.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;

}

.iphone-11-pro {
    border-top: none;
}



.title-sub-heading {
    font-size: 2.4rem;
    color: white;
}




@media screen and (max-width: 1068px) {
    .iphone-11-pro {
        background: url(images/hero/iphone-11-pro/iphone_11_pro_medium.jpg)center no-repeat;
    }

    .laptop {
        background: url(images/hero/laptop/laptop_medium.jpg)center no-repeat;
    }

    .ipad {
        background: url(images/hero/ipad/ipad_medium.jpg)center no-repeat;
    }



    .hero {
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title-heading {
        font-size: 4.4rem;
        color: wheat;
    }

    .title-sub-heading {
        font-size: 2.4rem;
        color: white;
    }


    .cat-link:nth-child(2) {
        margin-left: 2rem;
    }


}


@media screen and (max-width : 767px) {

    .iphone-11-pro {
        background: url(images/hero/iphone-11-pro/iphone_11_pro_small.jpg)center no-repeat;

    }

    .laptop {
        background: url(images/hero/laptop/laptop_small.jpg) center no-repeat;
    }

    .ipad {
        background: url(images/hero/ipad/ipad_small.jpg) center no-repeat;
    }


    header {
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
            height .56s cubic-bezier(0.32, 0.08, 0.24, 1);
    }

    header .container {
        padding: 0;

    }

    .iphone-11-pro {
        margin-top: 4.8rem;
    }

    .nav-list-largeScreen {
        display: none;
    }


    .nav-list {
        margin-top: 0;
    }

    .nav-list-mobile {
        display: flex;
    }


    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line {
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background-color: #fff;
        transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    }

    .line-top {
        margin-top: 3px;
    }

    .line-bottom {
        margin-top: -.4rem;
    }












}
